@model sx.ViewModels.NewGoodsModel
@{
    ViewData["Title"] = "New Goods";
}
<h2>New goods</h2>

<form asp-action="NewGoods" asp-controller="Goods" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="ShortName">Введите название</label><br />
            <input type="text" asp-for="ShortName" />
            <span asp-validation-for="ShortName" />
        </div>
        <div>
            <label asp-for="Description">Введите описание</label><br />
            <input asp-for="Description" />
            <span asp-validation-for="Description" />
        </div>
        <div>
            <label asp-for="UrlPhoto">Url фото</label><br />
            <input asp-for="UrlPhoto" />
            <span asp-validation-for="UrlPhoto" />
        </div>
        <div>
            <label asp-for="Price">Цена</label><br />
            <input asp-for="Price" />
            <span asp-validation-for="Price" />
        </div>
        <div>
            <label asp-for="Category.Type">Категория</label><br />
            <select id="sel" asp-for="Category.Type">
                @foreach (Section sec in (Section[])Enum.GetValues(typeof(Section)))
                {
                    <option value="select"> @sec </option>
                }
            </select>
            <span asp-validation-for="Category.Type" />
        </div>
        <div>
            <label asp-for="Category.Kind">Вид</label><br />
            <input asp-for="Category.Kind" />
            <span asp-validation-for="Category.Kind" />
        </div>
            @for (int i = 0; i < 2; i++)
            {
                <div>
                    <label asp-for="Size[i].Count">Количество</label><br />
                    <input asp-for="Size[i].Count" value="0" min="0" max="20" />
                    <span asp-validation-for="Size[i].Count" />
                </div>
                <div>
                    <label asp-for="Size[i].SizeName">Размер</label><br />
                    <input asp-for="Size[i].SizeName" />
                    <span asp-validation-for="Size[i].SizeName" />
                </div>
            }
            <div>
            <input type="submit" value="Create" />
        </div>
    </div>
</form>