@model Goods
@{
    ViewData["Title"] = "UpdateGoods";
}
<h1>@ViewBag.Message</h1>
<form asp-action="UpdateGoods" asp-controller="Goods" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="Id">Введите название</label><br />
            <input type="text" asp-for="@Model.Id" />
            <span asp-validation-for="Id" />
        </div>
        <div>
            <label asp-for="ShortName">Введите название</label><br />
            <input type="text" asp-for="@Model.ShortName" />
            <span asp-validation-for="ShortName" />
        </div>
        <div>
            <label asp-for="Description">Введите описание</label><br />
            <input asp-for="Description" />
            <span asp-validation-for="Description" />
        </div>
        <div>
            <label asp-for="UrlPhoto">Url фото</label><br />
            <input asp-for="UrlPhoto" />
            <span asp-validation-for="UrlPhoto" />
        </div>
        <div>
            <label asp-for="Price">Цена</label><br />
            <input asp-for="Price" />
            <span asp-validation-for="Price" />
        </div>
        <div>
            <input type="submit" value="Update" />
        </div>
    </div>
</form>